body {
	background-color: Moccasin;
}
h1,h2{
	color: blue;
}
#canvas {
	background-color: white;
	cursor: crosshair;
	border: solid 2px orange;
	border-radius: 5px;
}
#meldinger {
	border: solid 2px orange;
	border-radius: 5px;
}