body {
	background-color: lightgrey;
	margin: 0;
	padding: 0;
}
h1,h2{
	color: blue;
}
#canvas {
	background-color: white;
	cursor: crosshair;
	border: solid 2px orange;
	border-radius: 5px;
}
#meldinger {
	border: solid 2px orange;
	border-radius: 5px;
}
.container {
	width: 600px;
	height: 100%;
	margin: 0 auto;
	padding: 20px;
}